.Home {
    background-image: url("https://mymoons.mx/static/media/fondo_moons.c404dd0b.jpg");
    height: 100vh;
}
.TituloHome{
    width: 100%;
    text-align: center;
    color: dimgrey;
    font-size: 30px;
    text-decoration: indianred;
    font-weight: bold;
}
.SubTituloHome{
    margin-top: 30px;
    width: 100%;
    text-align: center;
    color: dimgrey;
    font-size: 20px;
    margin-bottom: 70px;
}
.logo{
    width: 200px;
    height: 45px;
    background-image: url("https://mymoons.mx/static/media/logo.e292d61b.svg");
    background-repeat: no-repeat;
}